@charset "utf-8";
/* CSS Document */

.text-logo {
	color: #8bc34a;
}
.intro-tile {
	color: red;
}
.obak {
  color: #8bc34a;
}
.fa-social {
  background: none repeat scroll 0 0 #8bc34a;
}
.icon rect, .icon line {
  fill: #8bc34a;
  stroke: #8bc34a;
}
.title {
  color: #8bc34a;
}
.contact-title {
  color: #ffffff;
}
.service-top {
	color: #8bc34a;
}
.service-bottom {
	color: #8bc34a;
}
.fa-service {
	color: #8bc34a;
	border: 1px solid #8bc34a;
}
.contact {
  background-color: #8bc34a;
}
#footer {
  background-color: #8bc34a;
}
.btn-contact {
  background-color: transparent;
  border-color: transparent;
}

.fa-sliders {
  color: #8bc34a;
}
.color-option-title {
  color: #8bc34a;
}
.default-color {
  background: #8bc34a;
}